<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{{title}}</a>
        </div>
      </div>
    </nav>

    <div class="row" style="margin-top: 60px">
        <div class="col col-md-5 col-md-offset-1">
    <table class="table table-condensed">
        <thead>
        <th>Statistics</th>
        <th></th>
        </thead>
        <tbody>
         {% for row in statistics %}
            <tr>
                <td><label class="right">{{row.0}}</label></td>
                <td>{{row.1}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <div class="col col-md-5">
    <table class="table table-condensed">
        <thead>
        {% for header in table_headers %}
            <th>{{header}}</th>
        {% endfor %}
        </thead>
        <tbody>
         {% for row in comment_count %}
            <tr>
                <td><label class="right">{{row.0}}</label></td>
                <td>{{row.1}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>

</body>
</html>